.main-headings {
  color: #444a53;
  font-size: 150%;
  font-weight: bold;
  margin-top: 70px;
  padding: 30px 30px 0 30px;
}

.box-values {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}

.new-users {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 16px 20px;
  width: 235px;
}

.users-icon {
  border-radius: 50%;
  color: white;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  text-align: center;
  width: 60px;
}

.new-users:nth-child(1) .users-icon {
  background-color: #747bec;
}

.new-users:nth-child(2) .users-icon {
  background-color: #5c8af0;
}

.new-users:nth-child(3) .users-icon {
  background-color: #e45d99;
}

.new-users:nth-child(4) .users-icon {
  background-color: #74daec;
}
.display-count {
  font-size: 22px;
  font-weight: 600;
}

.users-type {
  color: #828997;
  font-size: 18px;
}

@media (max-width: 769px) {
  .box-values {
    justify-content: flex-start;
  }

  .new-users {
    margin: 10px 20px 10px 0;
  }
}
